<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section xdt:Transform="Replace"
             xdt:Locator="Match(name)"
             name="oracle.manageddataaccess.client"
             type="OracleInternal.Common.ODPMSectionHandler, DataDump"/>
  </configSections>
  <appSettings>
    <add xdt:Transform="Replace"
         xdt:Locator="Match(key)"
         key="serilog:using:File"
         value="DataDump" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add xdt:Transform="Replace"
           xdt:Locator="Match(name)"
           name="ODP.NET, Managed Driver"
           invariant="Oracle.ManagedDataAccess.Client"
           description="Oracle Data Provider for .NET, Managed Driver"
           type="Oracle.ManagedDataAccess.Client.OracleClientFactory, DataDump"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="Remove"
                         xdt:Locator="Condition(./_defaultNamespace:assemblyIdentity/@name='Oracle.ManagedDataAccess')"/>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource xdt:Transform="Remove"
                    xdt:Locator="Match(alias)"
                    alias="SampleDataSource"/>
      </dataSources>
      <settings xdt:Transform="Insert">
        <setting name="tns_admin" value="\\ptcfsco1\Oracle\OraWin95\Network\Admin"/>
      </settings>
    </version>
  </oracle.manageddataaccess.client>
</configuration>